---
- name: Add user to Docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true
  notify: Restart Docker

- name: Disable root access
  ansible.builtin.copy:
    dest: /etc/docker/daemon.json
    content: |
        {
          "userns-remap": "default",
          "no-new-privileges": true
        }
    owner: root
    group: root
    mode: "0644"
  notify: Restart Docker